altgraph==0.16.1
auto-py-to-exe==2.6.6
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cx-Freeze==6.0
dropbox==9.4.0
Eel==0.11.0
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.8
pefile==2019.4.18
pycparser==2.19
PyInstaller==3.6
PyQt5==5.14.0
PyQt5-sip==12.7.0
pywin32-ctypes==0.2.0
requests==2.22.0
six==1.13.0
urllib3==1.25.7
whichcraft==0.6.1
